@import "./reset.scss";
@import "./vars.scss";

body {
  font-family: var(--lexend-deca-regular);
  margin: 0px;
  overflow: overlay;
}


h1,
h2,
h3,
p,
small,
th,
td,
blockquote {
  padding-left: 2vw;
  padding-right: 2vw;
}

th:not(:last-child), td:not(:last-child) {
  padding-right:0;
}

h1 {
  font-family: var(--lexend-deca-bold);
  font-size: 17vw;
  margin-left: -0.9vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

h2 {
  font-family: var(--lexend-deca-bold);
  font-size: 7vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

h3,
blockquote {
  font-family: var(--lexend-deca-bold);
  font-size: 4.5vw;
  padding-top: 1.5vw;
  padding-bottom: 2vw;
}

p, th, td {
  font-family: var(--lexend-deca-regular);
  font-size: 3.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

small {
  font-family: var(--lexend-deca-regular);
  display: block;
  font-size: 2.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;

}

@media only screen and (max-width: 710px) and (orientation:portrait) {
  small {
    font-size: 4vw;
  }

  p, th, td {
    font-size: 5vw;
  }
}

a {
  text-decoration: underline;
  color: black;
}

b, strong {
  font-family: var(--lexend-deca-bold);
}


.color-cyan, 
.color-cyan a {
  color: $color-cyan;
}

.background-cyan {
  background-color: $color-cyan;
}
