
.container {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.children > * {
  position: absolute;
  top:0px;
}

.children * {
  filter: alpha(opacity=80);
  opacity: .90;
}