@import "./reset.scss";
@import "./vars.scss";

body {
  @include font-regular;
  margin: 0px;
  overflow: overlay;
}

.color-cyan, .color-cyan a {
  color: #aaffff;
}

h1, h2, h3, p, blockquote {
  padding-left:3vw;
  padding-right:3vw;
}

h1 {
  @include font-bold;
  font-size: 17vw;
  margin-left: -0.9vw;
  padding-bottom: 10vw;
}



h2 {
  @include font-bold;
  font-size: 9vw;
  padding-bottom: 4vw;
}

h3, blockquote {
  @include font-regular;
  font-size: 5vw;
  padding-bottom: 1.5vw;
}

p {
  font-size: 3.5vw;
  padding-bottom: 1vw;
}
