@import "./reset.scss";
@import "@fontsource/lexend-deca";

body {
  font-family: "Lexend Deca", sans-serif;
  margin: 0px;
}


h1 {
  font-size: 17vw;
  font-weight: bold;
  margin-left: -0.9vw;
}


h2 {
  font-size: 4vw;
  font-weight: bold;
}

p {
  font-size: 3.5vw;
  padding-top: 2vw;
}
