
.container {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.imageLink {
  cursor: zoom-in;
}

.children > * {
  position: absolute;
  top:0px;
}

.children * {
  filter: alpha(opacity=90);
  opacity: .90;
}