@import "../global-styles/vars.scss";

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes expand {
  0% { width: 9vw; height: 9vw;}
  100% { width: 35vw; height: 38vw;}
}


.nav {
    overflow: hidden;
    position: fixed;
    top: 3vw;
    right: 3vw;
    background-color: $color-cyan;
    padding: 1.5vw;
    filter: alpha(opacity=85);
    opacity: .85;
    z-index: 1000;
}


.navClosed {
  width: 9vw;
  height: 9vw;
}

.navOpened {
  animation: expand 0.1s linear;
}

.icon {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 7vw;
  height: 7vw;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.navOpened .iconOpen {
    display: None;
}


.iconClose {
  font-size:7vw;
  text-align: center;
}

.navClosed .iconClose {
  display: none;
}

.nav a, .nav p {
  display: block;
  @include font-regular;
  font-size: 6vw;
  padding:0px;
  padding-bottom: 1vw;
}
  