.container {
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;

}

.item {
  display: block;
  box-sizing: content-box;
  width: 100%;
}